# Autotools files
aclocal.m4
autom4te.cache
Makefile.in
Makefile
.deps
.libs
*.o
*.lo
*.la
libtool
*.pc
config.log
config.status
config.guess
config.h
config.h.in
config.sub
config
configure
install-sh
ltmain.sh
missing
stamp-h1
depcomp
.cproject
.project
.settings
kmscube
tags
TAGS

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
